
#control_panel {
    background-color: #fcfffa;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

#control_panel.participant {
    background-color: #e7f5ff;
}

#main_content {
    height: 800px;
}

#main_content iframe {
    width: 100%;
    height: 100%;
}

