<!DOCTYPE html>
<html>
<head>
    <title>ILT Presentation System</title>
    <script src="/static/zepto.min.js"></script>
    <script src="/static/underscore-min.js"></script>
    <script src="/static/iltrevealsession.js"></script>
    <link href="/static/bulma.min.css" rel="stylesheet" type="text/css" > 
    <link href="/static/bulma-switch.min.css" rel="stylesheet" type="text/css" >
    <link href="/static/bulma-radio-checkbox.min.css" rel="stylesheet" type="text/css" >
    <link href="/static/style.css" rel="stylesheet" type="text/css" >
    <script  src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>

    <div id="control_panel"></div>

    <div id="main_content">
        <section class="columns">
      <div class="column is-half is-offset-one-quarter">
        <h1 class="title">ILT Presentation System</h1>

        <h2>Join Presentation</h2>
        <p>To join the session you need to choose a nickname.</p>
        <div class="field">
              <label class="label">Your preferred nickname:</label>
                <div class="control">
                  <input id="txtNickname" class="input" type="text" placeholder="nickname">
                </div>
           <button id="btnJoin" class="button is-primary"  type="button" name="Send" value="Join!" disabled="disabled"/>Join!</button>
        </div>
      </div>        

        </section>

    </div>

    <div id="modal_container">
    </div>

<script>


  Zepto(function($){
    if (! ILTRevealSession.ws_support()) {
        $('#main_content').replaceWith('<h1>Sorry</h1><p>Sorry, your browser does not support WebSockets. This functionality is necessary to use this system. Please use another browser.</p>');
        return null;
    } else {
      // setup things for that nick box so the user can type a nick and join the presentation
      function update_send() {
          if (  $("#txtNickname").val() != "") {
            $("#btnJoin").removeAttr("disabled");
          } else {
            $("#btnJoin").attr("disabled", "disabled");
         }
      };
      $("#txtNickname").keyup(function(event) { update_send(); } );

      $('#btnJoin').click(function() {
          // here get the nick, and open the ws connection, passing the nick
          ILTRevealSession.init_ws($("#txtNickname").val());
      });

    }
  });



</script>

</body>
</html>
